html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    /*max-width: 60em;*/
    /*border: 1px solid black;*/
    margin-top: 0em;
    overflow-y: scroll;
    font-size: 14pt;
}

.hero-content, .content {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    z-index: 2;
    background: grey;
    border: 0px;
    border-radius: 0;
    width: 100%;
    padding: 0 5%;
}

.transparent {
    background: transparent;
}

.nav.navbar-nav.navbar-right {
    margin-top: 9px;
}

.nav.navbar-nav.navbar-right li a {
    font-size: 16pt;
    color: white;
    background-color: transparent;
    transition: background-color .2s;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: rgba(0, 0, 0, .5);
}

.navbar-logo {
    vertical-align: middle;
    height: 60px;
    margin-top: 8px;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /*filter: blur(5px);*/
    /*opacity: 0.6;*/
    background-color: rgba(0, 0, 0, 0.45);
}

.hero {
    position: relative;
    padding: 16px;
    color: white;
    background-image: url(img/hao_image_large_blur.jpg);
    background-position: center 20%;
    background-size: cover;
}

.hero-content {
    z-index: 2;
    position: relative;
}
@media (min-width: 1000px) {
    .hero-content {
        margin-top: 200px;
        text-align: right;
    }
}
.hero-content h1 {
    font-size: 36pt;
    margin-bottom: 0;
    font-weight: 300;
}
.hero-content h2 {
    font-size: 20pt;
    font-weight: 400;
}
.hero-content h3 {
    font-size: 18pt;
    font-weight: 400;
    margin-top: 0;
}

.glyphicon {
    top: 2px;
}

.schedule {
    font-size: 12pt;
}

.content {
    padding: 16px 32px;
    /*background-color: #f8f8f8;*/
    background-color: white;
    border-bottom: 1px solid #88b;
}

.content iframe {
    display: block;
    margin: 0 auto;
}

.content p a {
    color: rgba(76, 175, 80, 255);  
}

.selectedTab {
    color: LightGreen !important;
}

.page-wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}

footer {
    height: 40px;
    color: white;
    background-color: grey;
    line-height: 40px;
    text-align: center;
}
